<%= form_for(@post) do |f| %>
<div class="panel clearfix post">
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, :placeholder => 'Title', :required => 'true' %>
  <%= f.text_field :author, :readonly => true, :value => @post.author %>
  Datestamp  <%= date_select :post, :timestamp, order: [:year, :month, :day] %>
  <hr />
  <%= f.text_area :body, :style => 'height: 450px', :placeholder => 'Blog post content ...', :required => 'true' %>
  <%= f.text_field :tags, :placeholder => 'Enter blog post tags here' %>
  <%= f.submit %>
</div>
<% end %>

