
<% if user_signed_in? %>
<div class="panel clearfix post">
<%= link_to 'New Post', new_post_path, :class => 'button' %>
</div>
<% end %>

<% @posts.each do |post| %>
<div class="panel clearfix post">
    <h2><%= link_to post.title, post %></h2>
    <h6><%= post.author %> | <%= post.timestamp %></h6> <br /><br />
    <% content = truncate(post.body, :length => 300, :separator => ' ') %>
    <%= simple_format(markdown(content)) %>
    <%= link_to '(Read more)', post %>
    <%= link_to ' | Edit', edit_post_path(post)  if user_signed_in? %>
    <%= link_to ' | Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %>
</div>
<% end %>

