
<% @posts.each do |post| %>
<div class="panel clearfix">
    <h2><%= post.title %></h2>
    <h6><%= post.author %> | <%= post.timestamp %></h6> <br /><br />
    <p class="text-justify"><%= post.body %></p> <br />
    <%= link_to 'Show', post, :class => 'button' %>
    <%= link_to 'Edit', edit_post_path(post), :class => 'button' %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button' %>
    <%= 'hello' if @auth == true %>
    <%= 'aww :(' if @auth == false %>
</div>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
