<div class="sticky">
<nav class="top-bar drop-shadow">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to '/dev/blog', root_path, :class => 'bold' %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li>
      	<a href="#" data-reveal-id="loginmodal">Test button</a>
      </li>
      <li>
        <a href="#" data-dropdown="drop1"  data-options="is_hover:true"> <% if user_signed_in? %>
		Welcome, <%= current_user.email %>
	<% else %>
		Login
	<% end %></a>
	<div class="f-dropdown content" id="drop1" data-dropdown-content>
	<% if user_signed_in? %>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	<% else %>
	<%= form_for(:user, :url => session_path(:user)) do |f| %>
	  <%= f.text_field :email %>
	    <%= f.password_field :password %>
	      <%= f.check_box :remember_me %>
	        <%= f.label :remember_me %>
		  <%= f.submit 'Sign in' %>
		    <%= link_to "Forgot your password?", new_password_path(:user) %>
		    <% end %>
	<% end %>
	</div>
      </li>
    </ul>
  </section>
</nav>
</div>
<br />
