<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  <!-- Set the viewport width to device width for mobile -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>

  <title>  <%= content_for?(:title) ? yield(:title) : "DevBlog" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>

</head>

  <body>

    <%= render :partial => 'layouts/header' %>
    <%= render :partial => 'layouts/loginmodal' %>
    <div class="row" style="width: 100%">

      <div class="large-8 columns">
        <%= yield %>
      </div>

      <div class="large-4 columns">

        <div class="panel clearfix post">
	  <h5 class="subheader bold">Search</h5>
	  <hr />
	  <form action="/posts/search" method="post">
            <input type="text" placeholder="Search titles" name="query" required="true" />
            <input type="submit" value="Go" class="small button" />
          </form>
	</div>

	<div class="panel clearfix post">
	<h5 class="subheader bold">browse archives</h5>
	<hr />
	<%
		xposts = Post.order("date(timestamp) DESC").group("date(timestamp)")
		list = Hash.new
		xposts.each do |post|
			linkname = post.timestamp.strftime("%Y / %B")
			linkurl  = '/posts/archives?yymm=' + post.timestamp.strftime("%Y-%m")
			list[linkname] = linkurl
		end
		list.each do |value| %>
			<h6 class="subheader"><%= link_to value[0], value[1] %></h6>
	<% 	end %>

	</div>
      </div>
    </div>

    <div class="spacer"></div>

    <%= render :partial => 'layouts/footer' %> 
    <%= javascript_include_tag "application" %>

  </body>
</html>
